body{
	background-image:url("https://f0.0sm.com/node0/2022/12/8638ED64E2BFFED1-e453e450a327a7db.jpg");
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;}
p{
	font-family: "华文楷体";
	font-size: 52pt;
	text-align:center; }
#shici{
	font-family: "华文行楷";
	font-size: 24pt;
	text-align:center; }
